<%- layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <h2 class="col-lg-6 offset-lg-3">Welcome back on Wanderlust!</h2>
  <div class="col-lg-6 offset-lg-3">
    <form action="/login" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-lable">Username</label>
        <input
          required
          class="form-control"
          type="text"
          name="username"
          id="username"
        />
      </div>
    
      <div class="mb-3">
        <label for="password" class="form-lable">Password</label>
        <input
          required
          class="form-control mb-2"
          type="password"
          name="password"
          id="password"
          
        />
        <div class="show-pass">
         <p><input type="checkbox" name="show-password" id="show-password">
            <label for="show-password">Show Password</label></p>
        <a href="/forgot" >Forgot Password?</a>
         </div>
      </div>
      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>
