<%- layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <h2 class="col-lg-6 offset-lg-3">SignUp on Wanderlust</h2>
  <div class="col-lg-6 offset-lg-3">
    <form action="/signup" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-lable">Username</label>
        <input
          required
          class="form-control"
          type="text"
          name="username"
          id="username"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-lable">Email</label>
        <input
          required
          class="form-control"
          type="email"
          name="email"
          id="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-lable">Password</label>
        <input
          required
          class="form-control"
          type="password"
          name="password"
          id="password"
        />
      </div>
      <div class="show-pass">
         <p><input type="checkbox" name="show-password" id="show-password">
            <label for="show-password">Show Password</label></p>
        <a href="/forgot" >Forgot Password?</a>
         </div>
      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>
